<% include head %>

<body>
    <% include navbar %>
    <% var all = Object.keys(data).length, count = 0 %>
    <!-- <% var count = 0 %> -->
    <% for (let i = 1; i < all+1; i++) { %>
    <% if (data[i]['delay'] == true) count++ %>
    <% } %>
    <div class="container" id="content" style="margin-top: 80px;">
        <h3>
            Задержаных рейсов:
            <strong>
                <%= count %>
            </strong>
        </h3>
        <br>
        <% for(let i = 1; i < all+1; i++) { %>
        <% if(data[i]['delay'] == true) { %>
        <div class="alert alert-danger" role="alert">
            <a href="/search/<%= i %>">ID
                <%= i %></a>
            <h6>
                <strong>
                    <%= data[i]['from']['adress'] %>
                </strong>
                ->
                <strong>
                    <%= data[i]['to']['adress'] %>
                </strong>
            </h6>
            <a>
                <a>Вылет в </a>
                <strong>
                    <%= data[i]['from']['time'] %><br>
                </strong>
                <a>Прибытие в </a>
                <strong>
                    <%= data[i]['to']['time'] %><br>
                </strong>
                Вы полетите на самолете <strong>
                    <%= data[i]['aircraft'] %></strong><br>
                Из терминала <strong>
                    <%= data[i]['terminal'] %></strong>

            </a>
        </div>
        <% } %>
        <% } %>
    </div>
</body>