<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">Шереметьево</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/departure">Вылетающие <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/arrival">Прилетающие</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/delay">Задерживающиеся</a>
            </li>
        </ul>
        <div class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" name="ID" type="number" placeholder="ID рейса" id="id" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" onclick="find()">Искать</button>
        </div>
        <script>
            $("#id").on('keyup', function (e) {
                if (e.keyCode == 13) {
                    find();
                }
            });
            function find() {
                let id = document.getElementById('id').value;
                window.location.replace("http://localhost:3000/search/" + id);
            }
        </script>
    </div>
</nav>