<% include head %>

<body>
    <% include navbar %>
    <div class="container" id="content" style="margin-top: 80px;">
        <h3>ID <%= id %></h3>
        <hr>
        <% if (data[id]['delay'] == true) { %>
            <!-- <h3>РЕЙС ЗАДЕРЖИВАЕТСЯ</h3> -->
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Рейс задержан!</strong> Просим сохранять спокойствие, ваш самолёт скоро прилетит
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <% } %>
        <h6>Отправление из</h6>
        <h3><%= data[id]['from']['adress'] %> в <%= data[id]['from']['time'] %></h3>
        <h6>Прибытие в</h6>
        <h3><%= data[id]['to']['adress'] %> в <%= data[id]['to']['time'] %></h3>
        <h6>Вы летите на самолете</h6>
        <h3><%= data[id]['aircraft'] %></h3>
        <hr>
        <h4>
            Рекомендуем подойти к терминалу 
            <strong><%= data[id]['terminal'] %></strong>
            заранее!
        </h4>
    </div>
</body>